# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/

# Local secrets
.env

# Chroma local db
chroma_db/

# Streamlit
.streamlit/

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/
